* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: rgb(169, 224, 169);
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  background-color: #fff;
  align-items: center;
  height: 90vh;
  width: 500px;
  margin: 20px 20px;
  border-radius: 10%;
}

article {
  display: flex;
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: #eee 2px solid;
  border-radius: 30px;
}

.text {
  position: relative;
  margin: 20px;

}

.img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn {
  position: absolute;
}